* {
  color: aliceblue;
}

.movie-detail-image {
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}
