.carousel-container {
  overflow: hidden;
  height: 440px;
}

.movie-slider-title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: bisque;
  opacity: 0.5;
}

@media (max-width: 480px) {
  .carousel-container {
    height: 330px;
    display: flex;
    justify-content: space-between;
  }
}
