.carousel-container {
  overflow: hidden;
  height: 440px;
}

.movie-slider-title {
  font-size: 60px;
  font-family: "Black Han Sans", sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0 red, 2px 2px 0 red, 3px 3px 0 red, 4px 4px 0 #000;
}

@media (max-width: 480px) {
  .carousel-container {
    height: 330px;
    display: flex;
    justify-content: space-between;
  }
}
