.pagination-container {
  margin-top: 90px;
  background-color: white;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.page-item {
  margin: 0 2px;
}

.page-link {
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  color: white !important;
  background-color: red !important;
}

.page-link.active,
.pagination .active .page-link {
  background-color: darkred !important;
  border-color: darkred !important;
}

.page-link:hover {
  background-color: crimson !important;
  border-color: crimson !important;
  transform: translateY(2px);
}
